/*
    css for rebuilt
*/
html {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFangSC, Microsoft YaHei;
  line-height: 1;
  font-weight: 400;
}

body {
  background: #fff;
  -webkit-overflow-scrolling: touch;
  position: static;
  z-index: 1;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.ui-pos-rel {
  position: relative;
}

.ui-pos-abs {
  position: absolute;
}

.ui-flex {
  display: flex;
}

.spa-between {
  justify-content: space-between;
}

.ui-flex-wrap {
  flex-wrap: wrap;
}

.ui-btn-primary,
.ui-btn-text {
  display: block;
  height: 54px;
  line-height: 54px;
  background: #01c4a6;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #01c4a6;
  border-radius: 3px;
}

.ui-btn-primary:hover {
  background: #00ad92;
  border-color: #00ad92;
}

.ui-btn-text {
  background: #fff;
  color: #01c4a6 !important;
}

.ui-btn-text:hover {
  color: #00ad92 !important;
  border-color: #00ad92;
}

.ui-btn-loading,
.ui-btn-loading:hover {
  background: #aaa;
  border-color: #ccc;
  opacity: 0.7;
  cursor: wait;
}

.ui-col-1,
.ui-col-2,
.ui-col-3,
.ui-col-4,
.ui-col-5,
.ui-col-6,
.ui-col-7,
.ui-col-8,
.ui-col-9,
.ui-col-10,
.ui-col-11,
.ui-col-12 {
  padding: 0 15px;
  box-sizing: border-box;
}

.ui-col-1 {
  width: 8.3333%;
}

.ui-col-2 {
  width: 16.6667%;
}

.ui-col-3 {
  width: 25%;
}

.ui-col-4 {
  width: 33.3333%;
}

.ui-col-5 {
  width: 41.6667%;
}

.ui-col-6 {
  width: 50%;
}

.ui-col-7 {
  width: 58.3333%;
}

.ui-col-8 {
  width: 66.6667%;
}

.ui-col-9 {
  width: 75%;
}

.ui-col-10 {
  width: 83.3333%;
}

.ui-col-11 {
  width: 91.6667%;
}

.ui-col-12 {
  width: 100%;
}

[class*="u-heading-v3-"] {
  border-bottom: 1px dotted #ccc;
}

h2.g-brd-primary {
  border-color: #009b9b !important;
}

.g-color-gray-dark-v1 {
  color: #111 !important;
}

.u-heading-v3__title {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0;
  padding-bottom: 0.71429rem;
  border-bottom: 1px solid #555;
}

.g-pb-10 {
  padding-bottom: 0.71429rem !important;
}

.g-mb-12 {
  margin-bottom: 0.85714rem !important;
}

.g-brd-gray-light-v4 {
  border-color: #eee !important;
}

.g-brd-bottom {
  border-bottom: solid 1px transparent !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

h4.h6 a.g-color-gray-dark-v1 {
  color: #6c686e !important;
}

.ui-modal-primary-box {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 9999999998;
}

.ui-modal-primary {
  width: 438px;
  padding: 32px 32px 25px 80px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #000;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
}

.ui-modal-primary h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 4px;
}

.ui-modal-primary p {
  line-height: 22px;
}

.ui-modal-primary:before {
  content: "";
  width: 32px;
  height: 32px;
  background: url("../../images/index/modal--primary__icon.png") 0 / 100%
    no-repeat;
  position: absolute;
  top: 32px;
  left: 32px;
}

.ui-modal-btn-group {
  justify-content: flex-end;
}

.ui-modal-btn,
.ui-modal-btn--cancel {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  font-size: 14px;
  padding: 0 18px;
}

.ui-modal-btn--cancel {
  opacity: 0.15;
  color: #000 !important;
  border-color: #000;
}

.goods-price .lds-spinner,
.finally-price .lds-spinner {
  top: -15px;
}

/*  加载动画    */
.lds-spinner {
  color: #666;
  display: inline-block;
  position: relative;
  left: 2px;
  top: -11px;
  transform: scale(0.2);
}

.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #666;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
    Page-Header => page-top-nav
*/

.page-top {
  width: 100%;
  background: #fff;
  z-index: 5;
}

.nav-top {
  width: 1140px;
  height: 88px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.logo-top {
  display: block;
  width: 95px;
  height: 40px;
  background: url("../img/index-rebuilt/logo_top.png") 0 0 / 100% no-repeat;
  font-size: 0;
}

.nav-list {
  width: 650px;
  line-height: 88px;
  position: absolute;
  right: 0;
}

.nav-list > li > a {
  font-size: 16px;
  color: #222832;
  white-space: nowrap;
}

.nav-list > li > a:hover {
  color: #009b79;
  border-color: #00ad92;
}

.nav-download-btn {
  padding-right: 20px;
  margin-right: -20px;
}

.nav-download-btn:after,
.nav-user-info:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/arrow_down_black.png") 0 0 / 100%
    no-repeat;
  margin-left: 12px;
}

.nav-login-btn {
  display: block;
  width: 93px;
  height: 34px;
  margin: 26px -50px 26px 0;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #222832;
}

.nav-user-info {
  display: block;
  height: 34px;
  line-height: 34px;
  margin: 26px -20px;
  padding: 0 14px 0 26px;
  position: relative;
}

.nav-user-info:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("/images/index-rebuilt/avatar.png") 0 0 / 100% no-repeat;
  position: absolute;
  top: 7px;
  left: 0;
}

.nav-user-info:after {
  top: 12px;
  left: auto;
  right: 0;
}

.nav-user-info-list {
  width: 80px;
  padding: 20px;
  line-height: 34px;
  text-align: center;
}

.nav-user-info-list a {
  font-size: 16px;
  color: #575a5f;
}

.nav-user-info-list a:hover {
  color: #01c4a6;
}

.nav-vip-btn {
  display: block;
  width: 115px;
  height: 88px;
  text-align: center;
  background: url("/images/index-rebuilt/button_nav_vip.png") 0 / 100% no-repeat;
}

.nav-vip-btn a {
  width: 90px;
  height: 36px;
  display: block;
  margin: 26px auto;
  line-height: 36px;
  color: #fff !important;
  opacity: 0;
}

.ui-pop-tip {
  display: none;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 -4px 35px 5px rgba(0, 0, 0, 0.1);
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.ui-pop-tip:before {
  content: "";
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.pop-download {
  padding: 20px 20px;
}

.pop-download-item {
  flex: 1;
  font-size: 16px;
  line-height: 22px;
  margin-right: 30px;
  word-break: keep-all;
}

.pop-download-item h5 {
  color: #a2a5a5;
  margin-bottom: 7px;
}

.pop-download-item li {
  padding-top: 12px;
}

.pop-download-item a {
  color: #575a5f;
}

.pop-download-item a:hover {
  color: #01c4a6;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  position: fixed;
  top: 0;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  position: relative;
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.breadcrumb {
  height: 20px;
  font-size: 14px;
  color: #222832;
  line-height: 20px;
  opacity: 0.5;
}

.breadcrumb a {
  color: #222832;
}

.breadcrumb-vip {
  margin-bottom: -20px !important;
  padding-top: 10px !important;
  color: #fff;
}

.breadcrumb-vip a {
  color: #fff;
}

/*
    page-content
*/

.ui-container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.download-group {
  width: 100%;
  height: 557px;
  border-top: 1px solid transparent;
}

.download-title {
  height: 78px;
  margin-top: 162px;
  font-size: 56px;
  font-weight: 600;
  color: #182f39;
  line-height: 78px;
}

.download-info {
  height: 34px;
  margin-top: 25px;
  font-size: 22px;
  color: #899099;
  line-height: 34px;
}

.download-btn-list {
  width: 310px;
  margin-top: 78px;
}

.download-btn-item {
  width: 143px;
  height: 58px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 0 38px 2px rgba(145, 194, 233, 0.26);
}

.download-btn-item:after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 13px;
  left: 17px;
}
.item-ico-windows:after {
  background: url("../img/normal_windows.png") 0 / 100% no-repeat;
}

.item-ico-mac:after {
  background: url("../img/normal_mac.png") 0 / 100% no-repeat;
}
.download-btn-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 61px;
  color: #4e858b;
  line-height: 58px;
}

.download-btn-item:hover {
  background: #01c4a6;
}

.download-btn-item:hover a {
  color: #fff;
}

.item-ico-windows:hover:after {
  background: url("../img/hover_windows.png") 0 / 100% no-repeat;
}

.item-ico-mac:hover:after {
  background: url("../img/hover_mac.png") 0 / 100% no-repeat;
}

.download-qr-img {
  width: 140px;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  top: -170px;
}

.download-qr-img:before {
  border-bottom-color: transparent;
  border-top: 16px solid #fff;
  top: 140px;
}

.download-qr-img img {
  width: 100%;
}

.download-group-bg {
  width: 1189px;
  height: 539px;
  left: -22px;
  top: 19px;
  z-index: -1;
}

.download-group-main-img {
  width: 692px;
  height: 461px;
  top: 37px;
  right: 0;
}

.bg-wave {
  width: 48px;
  height: 23px;
  top: 92px;
  left: 22px;
  background: url("../img/download_bg_wave.png") 0 0 / 100%
    no-repeat;
}

.bg-center {
  width: 668px;
  height: 385px;
  opacity: 0.15;
  top: 0;
  left: 243px;
  background: url("../img/download_bg_center.png") 0 0 / 100%
    no-repeat;
}

.bg-shadow {
  width: 185px;
  height: 121px;
  background: url("../img/btn_download_shadow.png") 0 0 / 100%
    no-repeat;
}

.shadow-1 {
  top: 350px;
  left: 0;
}

.shadow-2 {
  top: 350px;
  left: 152px;
}

.shadow-3 {
  top: 350px;
  left: 304px;
}

.shadow-4 {
  top: 418px;
  left: 0;
}

.shadow-5 {
  top: 418px;
  left: 152px;
}

.shadow-6 {
  top: 418px;
  left: 304px;
}

.main-content {
  width: 100%;
  height: 540px;
}

.main-content:nth-of-type(2) {
  margin: 26px 0 85px;
}

.main-img {
  display: block;
  height: 540px;
}

.main-text h2 {
  height: 56px;
  margin-bottom: 33px;
  margin-top: 129px;
  font-size: 40px;
  color: #222832;
  line-height: 56px;
}

.main-content:nth-of-type(2) h2 {
  margin-top: 166px;
}

.main-text p {
  font-size: 20px;
  color: #575a5f;
  line-height: 40px;
}

.main-text-right {
  padding-left: 141px;
}

a.to-vip-link {
  display: inline-block;
  margin-top: 33px;
  height: 28px;
  font-size: 20px;
  color: #03bca6;
  line-height: 28px;
  position: relative;
}

.to-vip-link:after,
.to-vip-link-small:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("/images/index-rebuilt/arrow_right_normal.png") 0 / 100%
    no-repeat;
  position: absolute;
  top: 2px;
  right: -30px;
}

.to-vip-link:hover,
.to-vip-link-small:hover {
  color: #00ad92;
}

.to-vip-link:hover:after,
.to-vip-link-small:hover:after {
  background: url("/images/index-rebuilt/arrow_right_hover.png") 0 / 100%
    no-repeat;
}

.desc-list {
  width: 1110px;
  margin: 71px auto 110px;
}

.desc-list:before,
.desc-list:after,
.desc-item:nth-of-type(3):before {
  content: "";
  width: 95px;
  height: 95px;
  border-radius: 48px;
  background: #00c9cb;
  opacity: 0.07;
  position: absolute;
  top: -28px;
  right: -82px;
  z-index: -1;
}

.desc-list:after {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  top: 347px;
  left: -48px;
}

.desc-item:nth-of-type(3):before {
  width: 50px;
  height: 50px;
  top: -31px;
  right: 75px;
}

.desc-item {
  width: 350px;
  height: 406px;
  background: #fff;
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.desc-item img {
  width: 120px;
  display: block;
  margin: 40px auto 0;
}

.desc-item h3 {
  margin: 34px 0 14px;
  font-size: 19px;
  font-weight: 600;
  color: #292a34;
  line-height: 24px;
}

.desc-item p {
  font-size: 14px;
  color: #575a5f;
  line-height: 28px;
}

a.to-vip-link-small {
  display: inline-block;
  margin-top: 8px;
  height: 21px;
  font-size: 16px;
  color: #03bca6;
  line-height: 21px;
  position: relative;
}

.to-vip-link-small:after {
  width: 16px;
  height: 16px;
  top: 3px;
  right: -20px;
}

.bottom-vip-btn {
  width: 220px;
  margin: 0 auto 78px;
}

/*
    footer
*/
.page-footer {
  width: 100%;
  padding: 43px 0 54px;
  background: #1f1f26;
  color: #fff;
}

.connect-content {
  width: 350px;
}

.footer-logo {
  width: 82px;
}

.connect-list {
  margin-top: 39px;
}

.connect-link {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  font-size: 0;
  color: transparent;
}

#clipboard {
  opacity: 0;
}

.toast {
  padding: 50px 20px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 -4px 35px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 9999999999;
  display: none;
}

.overlay-toast {
  display: block !important;
  z-index: 9999999998 !important;
  background: rgba(0, 0, 0, 0.5);
}

.ico-wx {
  background: url("/images/index-rebuilt/footer_wx.png") 0 / 100% no-repeat;
}

.ico-qq {
  background: url("/images/index-rebuilt/footer_qq.png") 0 / 100% no-repeat;
}

.ico-tw {
  background: url("/images/index-rebuilt/footer_tw.png") 0 / 100% no-repeat;
}

.ico-fb {
  background: url("/images/index-rebuilt/footer_fb.png") 0 / 100% no-repeat;
}

.ico-wx:hover {
  background: url("/images/index-rebuilt/footer_wx_hover.png") 0 / 100%
    no-repeat;
}

.ico-qq:hover {
  background: url("/images/index-rebuilt/footer_qq_hover.png") 0 / 100%
    no-repeat;
}

.ico-tw:hover {
  background: url("/images/index-rebuilt/footer_tw_hover.png") 0 / 100%
    no-repeat;
}

.ico-fb:hover {
  background: url("/images/index-rebuilt/footer_fb_hover.png") 0 / 100%
    no-repeat;
}

.pop-tip-footer {
  width: 140px;
  height: 140px;
  top: -156px;
  overflow: hidden;
  box-sizing: border-box;
}

.pop-tip-footer:before {
  display: none;
}

.pop-tip-footer img {
  width: 100%;
}

.footer-list {
  width: 190px;
}

.footer-list h4 {
  height: 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 27px;
}

.footer-list li {
  margin-bottom: 12px;
}

.footer-list a {
  height: 17px;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  opacity: 0.6;
}

.footer-list a:hover {
  opacity: 1;
}

/*
    Login-Module
*/

/*  fontawesome */
@font-face {
  font-family: "FontAwesome";
  font-display: swap;
  src: url("/css/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("/css/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("/css/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("/css/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("/css/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.login-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
}

.login-box {
  display: none;
}

.modal-container {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.modal-body {
  width: 445px;
  margin: 0 auto;
}

.modal-content {
  width: 100%;
  position: relative;
}

.u-shadow-v21 {
  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.u-shadow-v21:hover {
  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.15);
}

.g-bg-white {
  background: #fff;
}

.rounded {
  border-radius: 4px;
}

.g-py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.g-px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lh-16 {
  line-height: 1.6;
}

.g-mt-20 {
  margin-top: 20px;
}

.g-mr-5 {
  margin-right: 0.35714rem !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.g-mb-15 {
  margin-bottom: 1.07143rem !important;
}

.g-mb-30 {
  margin-bottom: 2.14286rem !important;
}

.g-mb-35 {
  margin-bottom: 2.5rem;
}

.g-mb-50 {
  margin-bottom: 3.21429rem !important;
}

.g-mb-60 {
  margin-bottom: 4.28571rem !important;
}

.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 30px;
}

.h5 {
  font-size: 1.25rem;
}

.g-my-15 {
  margin-top: 1.07143rem !important;
  margin-bottom: 1.07143rem !important;
}

.g-brd-gray-light-v4 {
  border-color: #eee !important;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.g-line-height-1_8 {
  line-height: 1.8 !important;
}

.g-font-size-16 {
  font-size: 1.14286rem !important;
}

.g-color-black {
  color: #000;
}

.g-font-weight-600 {
  font-weight: 600;
}

.g-py-15 {
  padding-top: 1.07143rem !important;
  padding-bottom: 1.07143rem !important;
}

.g-color-gray-dark-v2 {
  color: #333 !important;
}

.g-color-gray-dark-v5 {
  color: #999 !important;
}

.g-font-size-13 {
  font-size: 0.92857rem !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1.07143rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #000;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.align-self-center {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

.form-check {
  display: inline-block;
  padding-left: 1.78571rem;
  color: #999;
  font-size: 0.85714rem;
  position: relative;
  cursor: pointer;
}

#remember-password {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.g-absolute-centered--y {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
}

.u-check-icon-checkbox-v6,
.u-check-icon-radio-v6 {
  width: 18px;
  height: 18px;
  font-size: 12px;
  left: 0;
}

.u-check-icon-checkbox-v6 i,
.u-check-icon-radio-v6 i {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  border: solid 1px #ccc;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-check-icon-checkbox-v6 i::before,
.u-check-icon-radio-v6 i::before {
  content: attr(data-uncheck-icon);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v6 i,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v6 i,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v6 i,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v6 i,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v6 i,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v6 i,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v6 i,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v6 i {
  color: #fff;
  background-color: #3ccdb9;
  border-color: #3ccdb9;
}

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v6 i::before,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v6 i::before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v6 i::before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v6 i::before,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v6 i::before,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v6 i::before,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v6 i::before,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v6 i::before {
  content: attr(data-check-icon);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.g-font-size-12 {
  font-size: 12px;
}

.color-primary {
  color: #03bca6;
}

.login-title {
  position: relative;
}

.login-close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 22px;
  top: 22px;
  cursor: pointer;
}

.login-close img {
  display: block;
  width: 100%;
}

.welcome-guide {
  display: block;
  position: absolute;
  width: 132px;
  left: 0;
  top: 0;
}

input[type="checkbox"] {
  opacity: 0;
}

.error-text {
  font-size: 14px;
  color: #f14667;
  line-height: 20px;
}

.change-success {
  margin-bottom: 30px;
}

.change-success img {
  display: block;
  width: 160px;
  margin: auto;
}

.span-dashed {
  line-height: 45px;
  display: block;
  text-align: center;
  border: 1px dashed #ddd;
}

.qrcode-btn {
  width: 32px;
  position: absolute;
  top: -8px;
  right: 0;
  cursor: pointer;
}

.btn-login-modal {
  width: 100%;
}

input[name="verify"] {
  flex: 1;
}

.verify-box {
  flex: 1;
  margin-left: 15px;
  cursor: pointer;
}

.verify-box img {
  height: 35px;
  margin-top: 7px;
}

.qrcode-btn {
  width: 32px;
  position: absolute;
  top: -8px;
  right: 0;
  cursor: pointer;
}

.qrcode-desc-img {
  width: 45.45%;
  height: 100%;
  max-width: 150px;
}

.qrcode-img {
  width: 54.55%;
  height: auto;
  max-width: 180px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.qrcode-desc {
  width: 180px;
  padding-bottom: 13px;
  float: right;
  font-size: 13px;
  color: #999;
  text-align: center;
}

.qrcode-desc span {
  color: #1cba9b;
}

.qrcode-timeout {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 54px;
  color: #2f343f;
  font-size: 15px;
}

.qrcode-refresh {
  width: 111px;
  height: 36px;
  background: rgba(60, 205, 185, 1);
  border-radius: 2px;
  line-height: 36px;
  color: #fff;
  margin: 25px auto;
  cursor: pointer;
}

.qr-success {
  text-align: center;
  padding: 150px 0;
}

.qr-success p {
  color: #333;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

/*
    Download Pages
*/
.app-info {
  width: 100%;
  height: 563px;
  box-sizing: border-box;
}

.app-content {
  margin-left: 30px;
}

.app-content-ios {
  padding-left: 38px;
}

.app-content h1 {
  height: 64px;
  margin: 26px 0 20px;
  font-size: 50px;
  font-family: Montserrat-Bold, Montserrat;
  font-weight: bold;
  color: #222832;
  line-height: 64px;
}

.app-content p {
  font-size: 18px;
  font-weight: 400;
  color: #575a5f;
  line-height: 34px;
}

.app-info-btn-box {
  width: 255px;
}

.app-info-btn {
  width: 255px;
  margin-top: 62px;
}

.app-info-btn-groups {
  margin-top: 62px;
}

.app-info-btn-groups li {
  width: 164px;
  margin-right: 12px;
}

.app-info-btn-groups-win {
  margin-top: 62px;
}

.app-info-btn-groups-win li:first-child {
  width: 160px;
  margin-right: 17px;
}

.plugin-text {
  font-size: 14px;
  color: #a2a5a5;
  line-height: 56px;
}

a.plugin-link {
  font-size: 14px;
  color: #03bca6;
  line-height: 56px;
}

.app-info-btn-ios {
  width: 100%;
}

.app-download-list {
  width: 100%;
  height: 110px;
  background: #fff;
  align-items: center;
  padding-left: 65px;
  box-sizing: border-box;
  bottom: 0;
  box-shadow: 0 -2px 40px 0 rgba(0, 0, 0, 0.1);
}

.app-download-items a {
  display: block;
  height: 36px;
  margin-right: 40px;
  color: transparent;
}

.app-download-android {
  width: 121px;
  background: url("/images/software/dl_normal_android.png") 0 / 100% no-repeat;
}

.app-download-android-checked,
.app-download-android:hover {
  width: 121px;
  background: url("/images/software/dl_checked_android.png") 0 / 100% no-repeat;
}

.app-download-ios {
  width: 78px;
  background: url("/images/software/dl_normal_ios.png") 0 / 100% no-repeat;
}

.app-download-ios-checked,
.app-download-ios:hover {
  width: 78px;
  background: url("/images/software/dl_checked_ios.png") 0 / 100% no-repeat;
}

.app-download-win {
  width: 136px;
  background: url("/images/software/dl_normal_windows.png") 0 / 100% no-repeat;
}

.app-download-win-checked,
.app-download-win:hover {
  width: 136px;
  background: url("../img/software/dl_checked_windows.png") 0 / 100%
    no-repeat;
}

.app-download-mac {
  width: 84px;
  background: url("../img/dl_normal_mac.png") 0 / 100% no-repeat;
}

.app-download-mac-checked,
.app-download-mac:hover {
  width: 84px;
  background: url("../img/software/dl_checked_mac.png") 0 / 100% no-repeat;
}
.app-info-vip {
  width: 199px;
  height: 110px;
  background: linear-gradient(
    270deg,
    rgba(255, 192, 69, 1) 0%,
    rgba(255, 156, 111, 1) 100%
  );
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-indent: 38px;
  line-height: 110px;
}

.app-info-vip:before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("/images/index-rebuilt/hover_vip.png") 0 / 100% no-repeat;
  position: absolute;
  top: 42px;
  left: 54px;
}

.app-main h2,
.vip-desc h2,
.app-main-slider h2 {
  height: 42px;
  margin: 86px 0 58px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: rgba(34, 40, 50, 1);
  line-height: 42px;
}

.app-main img {
  width: 352px;
  border-radius: 8px;
}

.app-main-slider img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cacbcb;
}

.prev-page,
.next-page {
  width: 36px;
  height: 54px;
  margin-top: -18px;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}

.prev-page {
  left: 0;
  background: url("/images/software/slider_normal_prev.png") 0 / 100% no-repeat;
}

.next-page {
  right: 0;
  background: url("/images/software/slider_normal_next.png") 0 / 100% no-repeat;
}

.prev-page:hover {
  background: url("/images/software/slider_hover_prev.png") 0 / 100% no-repeat;
}

.next-page:hover {
  background: url("/images/software/slider_hover_next.png") 0 / 100% no-repeat;
}

.swiper-container {
  border-radius: 10px;
}

.swiper-pagination {
  width: 120px;
  margin-left: -60px;
  left: 50%;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 4;
}

.ui-bullet {
  width: 32px;
  height: 6px;
  display: inline-block;
  border-radius: 0;
  background: #e6e6e6;
  cursor: pointer;
  opacity: 1;
}

.ui-bullet-active {
  background: #01c4a6;
}

.vip-desc h2 {
  margin: 90px 0 100px;
}

.vip-desc-list {
  flex-wrap: wrap;
}

.vip-desc-list li {
  width: 33.33%;
  height: 285px;
  text-align: center;
}

.vip-desc-list img {
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
}

.vip-desc-list p {
  height: 33px;
  font-size: 24px;
  color: #393e47;
  line-height: 33px;
}

/*
    Information Pages
*/
.information-list-content {
  padding: 30px 0;
}

.information-list-content .h1 {
  color: #1c8771;
}

.u-shadow-v25 {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.align-self-center {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

.h4 {
  font-size: 1.5rem;
}

a.g-color-gray-dark-v1 {
  color: #111;
}

a.g-color-gray-dark-v1:hover {
  color: #007a7a !important;
}

.inline-item {
  margin-bottom: 1rem;
  font-size: 0.85714rem !important;
  color: #a29eab;
}

.information-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

/*  Pagination Module    */
.pagination-box {
  margin: 30px 0;
  overflow: hidden;
}

.row.row-pages {
  float: right;
  margin-right: 1rem;
}

.paginationjs-pages > ul > li {
  border-color: #1cba9b !important;
}

.paginationjs-pages > ul > li > a {
  color: #1cba9b !important;
}

li.paginationjs-page.J-paginationjs-page.active a {
  background: #1cba9b !important;
  color: #fff !important;
}

.paginationjs-go-input input {
  border-color: #1cba9b !important;
}

.paginationjs-go-button input {
  background: #1cba9b !important;
  border-color: #1cba9b !important;
}

/*
    Faq Page
*/
.faq-header-title {
  margin: 5rem 0;
  font-size: 3.57143rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.faq-type-list {
  margin: 0 auto 5rem;
  justify-content: space-around;
}

.faq-type-list li {
  flex: 1;
  height: 22px;
  line-height: 22px;
  border-right: solid 1px #eee;
  text-align: center;
}

.faq-type-list li:last-of-type {
  border-right: none;
}

.faq-type-list a {
  color: #999;
  font-weight: 600;
}

.faq-type-list a:hover {
  color: #007a7a;
}

.faq-content {
  padding: 3.57143rem 0;
  box-shadow: 0 0 2px #ccc;
  border-radius: 0.25rem;
}

.faq-content-list {
  margin: 0 auto;
}

.faq-content-list li {
  border-bottom: solid 1px #eee;
}

.faq-content-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.faq-content-item-title {
  padding: 40px 30px;
  color: #555;
  cursor: pointer;
}

.faq-content-item-title:hover {
  color: #007a7a;
}

.faq-content-item-body {
  display: none;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.6;
}

.faq-content-item-title-ico {
  right: 30px;
}

.faq-content-item-title-ico i:last-of-type {
  display: none;
}

/*
    Mobile Stylesheet
*/
.mob-nav-vip-btn,
.mobile-slide-btn {
  display: none;
}

.nav-user-drop-mobile {
  position: relative;
  top: 0;
  box-shadow: none;
}

.nav-user-drop-mobile .nav-user-info-list {
  width: auto;
  box-sizing: border-box;
  background: #f5f5f5;
  padding: 0;
}

@media screen and (max-width: 1440px) {
  .download-group-bg {
    width: 100%;
    left: 0;
  }

  .desc-list {
    width: 100%;
  }

  .desc-item {
    width: 31.59%;
  }

  .desc-list:before,
  .desc-list:after,
  .desc-item:nth-of-type(3):before {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .page-top {
    position: fixed;
    top: 0;
  }

  .ui-container {
    width: 100%;
  }

  .logo-top {
    margin-left: 15%;
    margin-bottom: 10px;
  }

  .nav-top {
    width: 100%;
    height: auto;
    padding: 10px 0 0;
    display: block;
    position: relative;
  }

  .nav-top-open {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.1);
  }

  .overlay-nav {
    display: block !important;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
  }

  .nav-list {
    width: 100%;
    line-height: 24px;
    display: none;
    background: #fff;
    text-align: center;
    overflow: hidden;
  }

  .nav-list a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 12px 0;
  }

  .navLoginBox a {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .nav-login-btn {
    border: none;
    margin: 0;
  }

  .nav-download-btn:after,
  .nav-vip-btn,
  .ui-pop-tip:before {
    display: none;
  }

  .nav-user-info:before {
    top: 14px;
    left: 50%;
    margin-left: -100px;
  }

  .nav-user-info:after {
    top: 19px;
    right: 50%;
    margin-right: -100px;
  }

  .page-content {
    padding-top: 60px;
  }

  .mob-nav-vip-btn {
    display: block;
    width: 90px;
    height: 34px;
    background: linear-gradient(270deg, #ffc045 0%, #ff796f 100%);
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    position: absolute;
    top: 13px;
    right: calc(15% + 45px);
  }

  .mob-nav-vip-btn {
    width: 86.25px;
    height: 66px;
    background: url("/images/index-rebuilt/button_nav_vip.png") 0 / 100%
      no-repeat;
    color: transparent;
    top: 0;
  }

  .mobile-slide-btn {
    display: block;
    width: 26px;
    height: 2px;
    padding: 12px 0;
    position: absolute;
    top: 17px;
    right: 15%;
  }

  .mobile-slide-btn span {
    display: block;
    width: 100%;
    height: 100%;
    background: #575a5f;
  }

  .mobile-slide-btn:before,
  .mobile-slide-btn:after {
    content: "";
    width: 26px;
    height: 2px;
    background: #575a5f;
    position: absolute;
    top: 3px;
    left: 0;
  }

  .mobile-slide-btn:after {
    top: 21px;
    left: 0;
  }

  .mobile-slide-btn-close:before,
  .mobile-slide-btn-normal:after {
    animation: rotate45 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: rotate45 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  .mobile-slide-btn-close:after {
    animation: rotate-45 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: rotate-45 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  .mobile-slide-btn-close span {
    animation: fadeOut 0.6s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeOut 0.6s;
    -webkit-animation-fill-mode: forwards;
  }

  .mobile-slide-btn-normal:before {
    animation: rotate45To0 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: rotate45To0 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  .mobile-slide-btn-normal:after {
    animation: rotate-45To0 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: rotate-45To0 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  .mobile-slide-btn-normal span {
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 0.5s;
    -webkit-animation-fill-mode: forwards;
  }

  /*  Index Footer  */
  .page-footer .ui-container {
    flex-wrap: wrap;
  }

  .connect-content {
    width: 100%;
  }

  .footer-list {
    width: 50%;
    margin-top: 40px;
  }

  /*  Index Content */
  .ui-container {
    width: 70%;
  }

  .download-group {
    height: auto;
  }

  .download-title {
    height: 50px;
    font-size: 36px;
    line-height: 50px;
    margin-top: 19px;
    text-align: center;
  }

  .download-info {
    font-size: 18px;
    margin-top: 21px;
    text-align: center;
  }

  .download-btn-list {
    width: 100%;
    margin-top: 18px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .download-btn-item {
    width: 48%;
  }

  .download-group-bg {
    width: 100%;
    height: auto;
    margin-top: 37px;
    position: relative;
    top: 0;
    left: 0;
  }

  .download-group-main-img {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }

  .bg-wave,
  .bg-center,
  .desc-list:before,
  .desc-list:after,
  .desc-item:nth-of-type(3):before,
  .pop-download {
    display: none;
  }

  .bg-shadow {
    width: 55%;
    background: url("../img/btn_download_shadow.png") 0 0 / 100%
      100% no-repeat;
    z-index: -1;
  }

  .shadow-1 {
    top: -240px;
  }

  .shadow-2 {
    top: -240px;
    left: 45%;
  }

  .shadow-3 {
    top: -172px;
    left: 0;
  }

  .shadow-4 {
    top: -172px;
    left: 45%;
  }

  .shadow-5 {
    top: -104px;
    left: 0;
  }

  .shadow-6 {
    top: -104px;
    left: 45%;
  }

  .main-content {
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .main-content:nth-of-type(2) {
    margin: 26px 0 0;
  }

  .main-img {
    display: block;
    width: 92.86%;
    height: auto;
    margin-top: 230px;
  }

  .main-text-right {
    width: 100%;
    padding-left: 0;
    position: absolute;
    top: 30px;
  }

  .main-text h2 {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .main-content:nth-of-type(2) h2,
  .main-content:nth-of-type(4) h2 {
    margin-top: 0;
  }

  a.to-vip-link {
    margin-top: 20px;
  }

  .main-content:nth-of-type(3) img {
    margin-top: 20px;
  }

  .main-content:nth-of-type(4) .main-text {
    top: 40px;
  }

  .main-content:nth-of-type(4) img {
    margin-top: 288px;
  }

  .desc-list {
    width: auto;
    display: block;
    margin: 0 -15px 12px;
    overflow: hidden;
  }

  .desc-item {
    display: block;
    width: auto;
    margin: 0 15px 28px;
  }

  /*  download page   */
  .app-info {
    height: auto;
  }

  .mob-app-info {
    display: block;
    position: relative;
    padding-bottom: 155px;
  }

  .mob-app-info img {
    margin-top: 373px;
    width: 100%;
  }

  .app-content {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
  }

  .app-content h1 {
    font-size: 36px;
    margin: 28px 0 6px;
  }

  .app-content-ios {
    padding-left: 0;
  }

  .app-info-btn-box {
    width: 100%;
  }

  .app-info-btn {
    width: 100%;
    margin-top: 27px;
  }

  .app-info-btn-groups-win {
    display: block;
  }

  .app-info-btn-groups-win li:first-child {
    width: 100%;
  }

  .app-info-btn-groups-win li:last-child {
    text-align: center;
  }

  .app-info-btn-groups {
    justify-content: space-between;
  }

  .app-info-btn-groups li {
    width: 45.797%;
  }

  .app-info-btn-groups li:last-child {
    margin-right: 0;
  }

  .download-qr-img {
    opacity: 0 !important;
    box-shadow: none;
  }

  .swiper-pagination {
    width: 38px;
    margin-left: -19px;
    bottom: 10px;
  }

  .ui-bullet {
    width: 10px;
    height: 2px;
  }

  .app-download-list {
    height: 190px;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .app-download-items {
    width: 100%;
    flex-wrap: wrap;
  }

  .app-download-items li {
    width: 33.33%;
  }

  .app-download-items a {
    height: 23px;
    margin: 21px;
  }

  .app-download-android-checked,
  .app-download-android,
  .app-download-android:hover {
    width: 74px;
  }

  .app-download-ios-checked,
  .app-download-ios,
  .app-download-ios:hover {
    width: 48px;
  }

  .app-download-win-checked,
  .app-download-win,
  .app-download-win:hover {
    width: 83px;
  }

  .app-download-mac-checked,
  .app-download-mac,
  .app-download-mac:hover {
    width: 51px;
  }

  .app-download-tv-checked,
  .app-download-tv,
  .app-download-tv:hover {
    width: 44px;
  }

  .app-info-vip {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .app-info-vip:before {
    top: 16px;
    left: 50%;
    margin-left: -45px;
  }

  .app-main h2,
  .vip-desc h2,
  .app-main-slider h2 {
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    margin: 34px 0 17px;
  }

  .vip-desc h2 {
    margin: 56px 0 46px;
  }

  .app-main .ui-flex {
    align-items: center;
  }

  .app-main img {
    width: 31.59%;
  }

  .vip-desc-list li {
    width: 50%;
    height: 197px;
  }

  .vip-desc-list img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }

  .vip-desc-list p {
    height: 22px;
    font-size: 16px;
    line-height: 22px;
  }

  .bottom-vip-btn {
    width: 100%;
  }

  .ui-col-1,
  .ui-col-2,
  .ui-col-3,
  .ui-col-4,
  .ui-col-5,
  .ui-col-6,
  .ui-col-7,
  .ui-col-8,
  .ui-col-9,
  .ui-col-10,
  .ui-col-11,
  .ui-col-12 {
    width: 100%;
  }

  #listContainer .ui-flex,
  .information-list-content .ui-flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 574px) {
  .logo-top {
    margin-left: 15px;
  }

  .mob-nav-vip-btn {
    right: 67px;
  }

  .mobile-slide-btn {
    right: 22px;
  }

  .ui-container {
    width: 100%;
  }

  .faq-type-list {
    justify-content: left;
    flex-wrap: wrap;
  }

  .faq-type-list li {
    flex: auto;
    padding: 0 15px;
  }

  /*  login module    */
  .modal-container {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .modal-body {
    width: 100%;
  }

  /*  common modal    */
  .ui-modal-primary {
    width: 90%;
  }
}

.arrow-rotate:after {
  animation: rotate180 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation: rotate180 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.arrow-reset:after {
  animation: rotate-180 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation: rotate-180 0.5s;
  -webkit-animation-fill-mode: forwards;
}

/*  旋转180度    */
@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/*  旋转180度--0度    */
@keyframes rotate-180 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate-180 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*  0度---下旋45度   */
@keyframes rotate45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
    transform-origin: left center;
  }
}

@-webkit-keyframes rotate45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
    transform-origin: left center;
  }
}

/*  下旋45度---0度  */
@keyframes rotate45To0 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
    transform-origin: left center;
  }
}

@-webkit-keyframes rotate45To0 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
    transform-origin: left center;
  }
}

/*  0度---上旋45度   */
@keyframes rotate-45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
    transform-origin: left center;
  }
}

@-webkit-keyframes rotate-45 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
    transform-origin: left center;
  }
}

/*  上旋45度---0度  */
@keyframes rotate-45To0 {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
    transform-origin: left center;
  }
}

@-webkit-keyframes rotate-45To0 {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
    transform-origin: left center;
  }
}

/*  淡出消失    */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*  淡入显示    */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  微信点击下载，显示跳转到浏览器，全局样式    */
.container-fluid.text-center {
  padding: 0px;
  margin: 0px auto;
  background: royalblue;
  height: 1300px;
}

/*新内容模块样式*/
.newContent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/images/wxToClient/HighSpeed_Pic_Background@3x.png) no-repeat;
  display: none;
  z-index: 1000;
}

.arrow-new-content img {
  width: 15.7%;
  float: right;
  margin-top: 1.9%;
  margin-right: 8.7%;
}

.cloud {
  width: 59.6%;
  height: 100%;
  background: url(/images/wxToClient/HighSpeed_Pic_Cloud@3x.png) 0 0 / 100%
    no-repeat;
  margin: 0px auto;
  text-align: center;
  margin-top: 6.4%;
}

.cloud p {
  font-family: ArialHebrew;
  font-size: 30px;
  color: #333333;
  letter-spacing: 0.72px;
}

.cloud-text1 {
  padding-top: 14.1%;
  margin-bottom: 0px;
}

.cloud p.cloud-text1 img {
  width: 2.1%;
  margin-left: 4px;
}

p.cloud-text2 span {
  color: #1cba9b;
}

@media screen and (max-width: 460px) {
  .cloud p {
    font-size: 14px;
  }

  .cloud p.cloud-text1 img {
    width: 1.1%;
  }
}

/*  第三方客服组件 */
.kf5-chatSupport-right-bottom .kf5-chatSupport-style1,
.kf5-chatSupport-right-bottom .kf5-chatSupport-style2 {
  right: 15px !important;
}
